<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Erreur</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="container-about3">
        <div class="rightblock text-justify">
            <h1>Erreur 404</h1>
            <p class="w-75">Il semblerait que la page demandée n'existe pas</p>
        </div>
        <div class="leftblock">
        </div>
    </body>
</html>