<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>À propos</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="container-about">
        <div class="leftblock">
        </div>
        <div class="rightblock text-justify">
            <h1>À propos du jeu</h1>
            <p class="w-75">Parasite Eve est un jeu vidéo RPG avec des éléments d'horreur, développé et édité par Square Co. en 1998 sur PlayStation.
                <br>Dans Parasite Eve, vous incarnez Aya Brea, une policière, qui se retrouve seule immunisée face à un virus inconnu qui fait des ravages. Votre immunité va vous permettre d’enquêter et de tenter de percer le mystère des "mitochondria", ces parasites viraux qui octroient d’étranges pouvoirs à leurs hôtes
            </p>
            <div class="image-mosaic">
                <img src="/images/screen1.jpg">
                <img src="/images/screen2.jpg">
                <img src="/images/screen3.jpg">
                <img src="/images/screen4.jpg">
            </div>
        </div>
    </body>
</html>
