<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Accueil</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="container-about2">
        <div class="rightblock text-justify">
            <h1>Parasite Eve</h1>
            <p class="w-75">A Squaresoft Cinematic RPG</p>
            <div class="image-mosaic2">
                <img src="/images/disc1.jpg">
                <img src="/images/disc2.jpg">
                <img src="/images/disc3.jpg">
                <img src="/images/disc4.jpg">
            </div>
        </div>
        <div class="leftblock">
        </div>
    </body>
</html>
